# This file is for supplying extra arguments to the JVM when the .exe launcher is used.
# The first line of this file should contain the arguments you wish to supply. 
# For example, you'd uncomment the line below to set the initial and maximum Java heap sizes.
#
# -Xms64m -Xmx496m
